{
  "swagger" : "2.0",
  "info" : {
    "description" : "",
    "version" : "6.9.0.0.0.0-SNAPSHOT",
    "title" : "Universal Online Banker : Account Info Service",
    "contact" : {
      "name" : "ACI HELP 24",
      "url" : "www.aciworldwide.com/help24",
      "email" : ""
    },
    "license" : {
      "name" : "ACI Worldwide License 1.1",
      "url" : "http://aciworldwide.com/terms-of-use"
    }
  },
  "host" : "modelbank.bankonline.com",
  "basePath" : "/uob/api",
  "tags" : [ {
    "name" : "Accounts"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/accounts" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Fetch----------------------ist of accounts",
        "description" : "",
        "operationId" : "accountBalanceInquiry",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "accountIdents",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "New value to compare"

        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AccountSummaryInquiryRsType"
            }
          }
        }
      }
    },
    "/accountss" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "*****************",
        "description" : "",
        "operationId" : "updateTransactions",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "accountsIdents",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "description" : "New value to compare"

        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AccountSummaryInquiryRsType"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "AccountBalanceDetailInquiryRqType" : {
      "type" : "object",
      "required" : [ "accountBalanceDetailInquiryRqVersion", "accounts", "balanceContext", "baseServiceRqVersion", "requestUID", "screenContext" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "header" : {
          "xml" : {
            "name" : "Header"
          },
          "$ref" : "#/definitions/MessageHeaderType"
        },
        "baseServiceRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRqVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "mfaHeader" : {
          "xml" : {
            "name" : "MfaHeader"
          },
          "$ref" : "#/definitions/MFAHeaderType"
        },
        "requestHeader" : {
          "xml" : {
            "name" : "RequestHeader"
          },
          "$ref" : "#/definitions/RSAAARequestHeaderType"
        },
        "offset" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Offset"
          },
          "default" : 0
        },
        "limit" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Limit"
          },
          "default" : 0
        },
        "sort" : {
          "type" : "string",
          "xml" : {
            "name" : "Sort"
          }
        },
        "sortOrder" : {
          "type" : "string",
          "xml" : {
            "name" : "SortOrder"
          }
        },
        "accounts" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "balanceContext" : {
          "type" : "string"
        },
        "screenContext" : {
          "type" : "string"
        },
        "fetchStatements" : {
          "type" : "boolean",
          "default" : true
        },
        "balanceTypeFields" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "accountBalanceDetailInquiryRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountBalanceDetailInquiryRqVersion"
          },
          "default" : "1"
        }
      }
    },
    "AccountBalanceDetailInquiryRsType" : {
      "type" : "object",
      "required" : [ "accountBalanceDetailInquiryRsVersion", "baseServiceRsVersion", "requestUID", "status" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "status" : {
          "xml" : {
            "name" : "Status"
          },
          "$ref" : "#/definitions/MessageStatusInfoType"
        },
        "statusChain" : {
          "type" : "array",
          "xml" : {
            "name" : "StatusChain"
          },
          "items" : {
            "xml" : {
              "name" : "StatusChain"
            },
            "$ref" : "#/definitions/MessageStatusInfoType"
          }
        },
        "baseServiceRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRsVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "authReqId" : {
          "type" : "string",
          "xml" : {
            "name" : "AuthReqId"
          }
        },
        "maxRows" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "MaxRows"
          },
          "default" : 0
        },
        "next" : {
          "type" : "string",
          "xml" : {
            "name" : "Next"
          }
        },
        "previous" : {
          "type" : "string",
          "xml" : {
            "name" : "Previous"
          }
        },
        "accounts" : {
          "type" : "array",
          "xml" : {
            "name" : "Accounts"
          },
          "items" : {
            "xml" : {
              "name" : "Accounts"
            },
            "$ref" : "#/definitions/AccountBalanceDetailsType"
          }
        },
        "accountBalanceDetailInquiryRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountBalanceDetailInquiryRsVersion"
          },
          "default" : "1"
        },
        "mfarsHeader" : {
          "$ref" : "#/definitions/MFARsHeaderType"
        }
      }
    },
    "AccountBalanceDetailsType" : {
      "type" : "object",
      "required" : [ "accountBalanceDetailInfoVersion", "currency", "financialInstitutionId", "id", "product" ],
      "properties" : {
        "versionStampId" : {
          "type" : "string",
          "xml" : {
            "name" : "VersionStampId"
          }
        },
        "id" : {
          "type" : "string",
          "xml" : {
            "name" : "Id"
          }
        },
        "number" : {
          "type" : "string",
          "xml" : {
            "name" : "Number"
          }
        },
        "maskedNumber" : {
          "type" : "string",
          "xml" : {
            "name" : "MaskedNumber"
          }
        },
        "accountType" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountType"
          }
        },
        "accountSubType" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountSubType"
          }
        },
        "product" : {
          "type" : "string",
          "xml" : {
            "name" : "Product"
          }
        },
        "nickname" : {
          "type" : "string",
          "xml" : {
            "name" : "Nickname"
          }
        },
        "currency" : {
          "type" : "string",
          "xml" : {
            "name" : "Currency"
          }
        },
        "financialInstitutionId" : {
          "type" : "string",
          "xml" : {
            "name" : "FinancialInstitutionId"
          }
        },
        "balanceAmount" : {
          "type" : "number",
          "xml" : {
            "name" : "BalanceAmount"
          }
        },
        "balanceAsOn" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "BalanceAsOn"
          }
        },
        "accountStatements" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AccountBalanceStatementType"
          }
        },
        "updateInProgress" : {
          "type" : "boolean",
          "xml" : {
            "name" : "UpdateInProgress"
          }
        },
        "accountBalanceDetailInfoVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountBalanceDetailInfoVersion"
          },
          "default" : "1"
        }
      }
    },
    "AccountBalanceStatementType" : {
      "type" : "object",
      "required" : [ "effectiveDate", "fieldDisplayValue", "fieldMsgCode", "fieldName", "fieldValue" ],
      "properties" : {
        "fieldName" : {
          "type" : "string"
        },
        "fieldValue" : {
          "type" : "string"
        },
        "fieldValueUnformatted" : {
          "type" : "string"
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date-time"
        },
        "effectiveDateOnly" : {
          "type" : "string",
          "format" : "date-time"
        },
        "fieldDataType" : {
          "type" : "integer",
          "format" : "int32"
        },
        "fieldMsgCode" : {
          "type" : "string"
        },
        "fieldDisplayValue" : {
          "type" : "string"
        },
        "displaySequence" : {
          "type" : "integer",
          "format" : "int32"
        },
        "displayDate" : {
          "type" : "boolean",
          "default" : false
        }
      }
    },
    "AccountDetailInformationInquiryRsType" : {
      "type" : "object",
      "required" : [ "accountDetailInformationInquiryRsVersion", "baseServiceRsVersion", "currency", "financialInstitutionId", "id", "product", "requestUID", "status" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "status" : {
          "xml" : {
            "name" : "Status"
          },
          "$ref" : "#/definitions/MessageStatusInfoType"
        },
        "statusChain" : {
          "type" : "array",
          "xml" : {
            "name" : "StatusChain"
          },
          "items" : {
            "xml" : {
              "name" : "StatusChain"
            },
            "$ref" : "#/definitions/MessageStatusInfoType"
          }
        },
        "baseServiceRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRsVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "authReqId" : {
          "type" : "string",
          "xml" : {
            "name" : "AuthReqId"
          }
        },
        "id" : {
          "type" : "string",
          "xml" : {
            "name" : "Id"
          }
        },
        "number" : {
          "type" : "string",
          "xml" : {
            "name" : "Number"
          }
        },
        "accountType" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountType"
          }
        },
        "accountSubType" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountSubType"
          }
        },
        "product" : {
          "type" : "string",
          "xml" : {
            "name" : "Product"
          }
        },
        "nickname" : {
          "type" : "string",
          "xml" : {
            "name" : "Nickname"
          }
        },
        "financialInstitutionId" : {
          "type" : "string",
          "xml" : {
            "name" : "FinancialInstitutionId"
          }
        },
        "currency" : {
          "type" : "string",
          "xml" : {
            "name" : "Currency"
          }
        },
        "balanceAmount" : {
          "type" : "number",
          "xml" : {
            "name" : "BalanceAmount"
          }
        },
        "balanceAsOn" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "BalanceAsOn"
          }
        },
        "openingDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "OpeningDate"
          }
        },
        "closingDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "ClosingDate"
          }
        },
        "lastStatementDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "LastStatementDate"
          }
        },
        "lastTransactionDateTime" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "LastTransactionDateTime"
          }
        },
        "accountStatus" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountStatus"
          }
        },
        "description" : {
          "type" : "string",
          "xml" : {
            "name" : "Description"
          }
        },
        "links" : {
          "type" : "array",
          "xml" : {
            "name" : "_Links"
          },
          "items" : {
            "xml" : {
              "name" : "_Links"
            },
            "$ref" : "#/definitions/LinksType"
          }
        },
        "accountDetailInformationInquiryRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountDetailInformationInquiryRsVersion"
          },
          "default" : "1"
        },
        "mfarsHeader" : {
          "$ref" : "#/definitions/MFARsHeaderType"
        }
      }
    },
    "AccountIdentificationTypeType" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string",
          "xml" : {
            "name" : "Code"
          }
        },
        "proprietary" : {
          "type" : "string",
          "xml" : {
            "name" : "Proprietary"
          }
        }
      }
    },
    "AccountOtherIdentificationType" : {
      "type" : "object",
      "required" : [ "accountOtherIdentificationVersion", "ident" ],
      "properties" : {
        "ident" : {
          "type" : "string",
          "xml" : {
            "name" : "Ident"
          }
        },
        "issuer" : {
          "type" : "string",
          "xml" : {
            "name" : "Issuer"
          }
        },
        "identType" : {
          "xml" : {
            "name" : "IdentType"
          },
          "$ref" : "#/definitions/AccountIdentificationTypeType"
        },
        "accountOtherIdentificationVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountOtherIdentificationVersion"
          },
          "default" : "1"
        }
      }
    },
    "AccountPreferences" : {
      "type" : "object",
      "required" : [ "accountPreferencesVersion", "expiryTermListOptions", "fiId", "id", "name", "nickname", "number" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "xml" : {
            "name" : "Id"
          }
        },
        "number" : {
          "type" : "string",
          "xml" : {
            "name" : "Number"
          }
        },
        "nickname" : {
          "type" : "string",
          "xml" : {
            "name" : "Nickname"
          }
        },
        "fiId" : {
          "type" : "string",
          "xml" : {
            "name" : "FiId"
          }
        },
        "name" : {
          "type" : "string",
          "xml" : {
            "name" : "Name"
          }
        },
        "visible" : {
          "type" : "boolean",
          "xml" : {
            "name" : "Visible"
          }
        },
        "expiryTerm" : {
          "type" : "integer",
          "format" : "int32",
          "xml" : {
            "name" : "ExpiryTerm"
          }
        },
        "expiryTermListOptions" : {
          "type" : "array",
          "xml" : {
            "name" : "ExpiryTermListOptions"
          },
          "items" : {
            "xml" : {
              "name" : "ExpiryTermListOptions"
            },
            "$ref" : "#/definitions/AccountStopPaymentExpTermMonthsListType"
          }
        },
        "accountPreferencesVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountPreferencesVersion"
          },
          "default" : "1"
        }
      }
    },
    "AccountPreferencesInquiryRqType" : {
      "type" : "object",
      "required" : [ "accountPreferencesInquiryRqVersion", "baseServiceRqVersion", "criteria", "requestUID" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "header" : {
          "xml" : {
            "name" : "Header"
          },
          "$ref" : "#/definitions/MessageHeaderType"
        },
        "baseServiceRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRqVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "mfaHeader" : {
          "xml" : {
            "name" : "MfaHeader"
          },
          "$ref" : "#/definitions/MFAHeaderType"
        },
        "requestHeader" : {
          "xml" : {
            "name" : "RequestHeader"
          },
          "$ref" : "#/definitions/RSAAARequestHeaderType"
        },
        "offset" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Offset"
          },
          "default" : 0
        },
        "limit" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Limit"
          },
          "default" : 0
        },
        "sort" : {
          "type" : "string",
          "xml" : {
            "name" : "Sort"
          }
        },
        "sortOrder" : {
          "type" : "string",
          "xml" : {
            "name" : "SortOrder"
          }
        },
        "criteria" : {
          "xml" : {
            "name" : "Criteria"
          },
          "$ref" : "#/definitions/AccountPrefersCriteriaType"
        },
        "accountPreferencesInquiryRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountPreferencesInquiryRqVersion"
          },
          "default" : "1"
        }
      }
    },
    "AccountPreferencesInquiryRsType" : {
      "type" : "object",
      "required" : [ "accountPreferencesInquiryRsVersion", "accounts", "baseServiceRqVersion", "requestUID" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "header" : {
          "xml" : {
            "name" : "Header"
          },
          "$ref" : "#/definitions/MessageHeaderType"
        },
        "baseServiceRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRqVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "mfaHeader" : {
          "xml" : {
            "name" : "MfaHeader"
          },
          "$ref" : "#/definitions/MFAHeaderType"
        },
        "requestHeader" : {
          "xml" : {
            "name" : "RequestHeader"
          },
          "$ref" : "#/definitions/RSAAARequestHeaderType"
        },
        "offset" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Offset"
          },
          "default" : 0
        },
        "limit" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Limit"
          },
          "default" : 0
        },
        "sort" : {
          "type" : "string",
          "xml" : {
            "name" : "Sort"
          }
        },
        "sortOrder" : {
          "type" : "string",
          "xml" : {
            "name" : "SortOrder"
          }
        },
        "accounts" : {
          "type" : "array",
          "xml" : {
            "name" : "Accounts"
          },
          "items" : {
            "xml" : {
              "name" : "Accounts"
            },
            "$ref" : "#/definitions/AccountPreferences"
          }
        },
        "accountPreferencesInquiryRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountPreferencesInquiryRsVersion"
          },
          "default" : "1"
        },
        "maxRows" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "MaxRows"
          },
          "default" : 0
        }
      }
    },
    "AccountPreferencesUpdateRqType" : {
      "type" : "object",
      "required" : [ "accountPreferencesUpdateRqVersion", "baseServiceRqVersion", "requestUID" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "header" : {
          "xml" : {
            "name" : "Header"
          },
          "$ref" : "#/definitions/MessageHeaderType"
        },
        "baseServiceRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRqVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "mfaHeader" : {
          "xml" : {
            "name" : "MfaHeader"
          },
          "$ref" : "#/definitions/MFAHeaderType"
        },
        "requestHeader" : {
          "xml" : {
            "name" : "RequestHeader"
          },
          "$ref" : "#/definitions/RSAAARequestHeaderType"
        },
        "accounts" : {
          "type" : "array",
          "xml" : {
            "name" : "Accounts"
          },
          "items" : {
            "xml" : {
              "name" : "Accounts"
            },
            "$ref" : "#/definitions/AccountUpdatePreferences"
          }
        },
        "accountPreferencesUpdateRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountPreferencesUpdateRqVersion"
          },
          "default" : "1"
        }
      }
    },
    "AccountPreferencesUpdateRsType" : {
      "type" : "object",
      "required" : [ "accountPreferencesUpdateRsVersion", "baseServiceRsVersion", "requestUID", "status" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "status" : {
          "xml" : {
            "name" : "Status"
          },
          "$ref" : "#/definitions/MessageStatusInfoType"
        },
        "statusChain" : {
          "type" : "array",
          "xml" : {
            "name" : "StatusChain"
          },
          "items" : {
            "xml" : {
              "name" : "StatusChain"
            },
            "$ref" : "#/definitions/MessageStatusInfoType"
          }
        },
        "baseServiceRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRsVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "authReqId" : {
          "type" : "string",
          "xml" : {
            "name" : "AuthReqId"
          }
        },
        "accountPreferencesUpdateRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountPreferencesUpdateRsVersion"
          },
          "default" : "1"
        },
        "mfarsHeader" : {
          "$ref" : "#/definitions/MFARsHeaderType"
        }
      }
    },
    "AccountPrefersCriteriaType" : {
      "type" : "object",
      "required" : [ "accountPrefersCriteriaVersion" ],
      "properties" : {
        "accountName" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountName"
          }
        },
        "accountNumber" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountNumber"
          }
        },
        "accountPrefersCriteriaVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountPrefersCriteriaVersion"
          },
          "default" : "1"
        }
      }
    },
    "AccountStopPaymentExpTermMonthsListType" : {
      "type" : "object",
      "required" : [ "fieldDescription" ],
      "properties" : {
        "fieldDescription" : {
          "type" : "string"
        },
        "fieldValue" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "AccountSummaryInfoType" : {
      "type" : "object",
      "required" : [ "accountSummaryInfoVersion", "currency", "id", "product" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "xml" : {
            "name" : "Id"
          }
        },
        "number" : {
          "type" : "string",
          "xml" : {
            "name" : "Number"
          }
        },
        "accountType" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountType"
          }
        },
        "accountSubType" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountSubType"
          }
        },
        "product" : {
          "type" : "string",
          "xml" : {
            "name" : "Product"
          }
        },
        "nickname" : {
          "type" : "string",
          "xml" : {
            "name" : "Nickname"
          }
        },
        "currency" : {
          "type" : "string",
          "xml" : {
            "name" : "Currency"
          }
        },
        "balanceAmount" : {
          "type" : "number",
          "xml" : {
            "name" : "BalanceAmount"
          }
        },
        "balanceAsOn" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "BalanceAsOn"
          }
        },
        "displayBalance" : {
          "type" : "boolean",
          "xml" : {
            "name" : "DisplayBalance"
          }
        },
        "bankId" : {
          "type" : "string",
          "xml" : {
            "name" : "BankId"
          }
        },
        "fiId" : {
          "type" : "string",
          "xml" : {
            "name" : "FiId"
          }
        },
        "loanNotes" : {
          "type" : "array",
          "xml" : {
            "name" : "LoanNotes"
          },
          "items" : {
            "xml" : {
              "name" : "LoanNotes"
            },
            "$ref" : "#/definitions/LoanNote"
          }
        },
        "assetLiability" : {
          "type" : "string",
          "xml" : {
            "name" : "AssetLiability"
          }
        },
        "accountSummaryInfoVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountSummaryInfoVersion"
          },
          "default" : "1"
        },
        "elrbalances" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ELRBalances"
          }
        }
      }
    },
    "AccountSummaryInquiryRsType" : {
      "type" : "object",
      "required" : [ "accountSummaryInquiryRsVersion", "baseServiceRsVersion", "requestUID", "status" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "status" : {
          "xml" : {
            "name" : "Status"
          },
          "$ref" : "#/definitions/MessageStatusInfoType"
        },
        "statusChain" : {
          "type" : "array",
          "xml" : {
            "name" : "StatusChain"
          },
          "items" : {
            "xml" : {
              "name" : "StatusChain"
            },
            "$ref" : "#/definitions/MessageStatusInfoType"
          }
        },
        "baseServiceRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRsVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "authReqId" : {
          "type" : "string",
          "xml" : {
            "name" : "AuthReqId"
          }
        },
        "maxRows" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "MaxRows"
          },
          "default" : 0
        },
        "next" : {
          "type" : "string",
          "xml" : {
            "name" : "Next"
          }
        },
        "previous" : {
          "type" : "string",
          "xml" : {
            "name" : "Previous"
          }
        },
        "accounts" : {
          "type" : "array",
          "xml" : {
            "name" : "Accounts"
          },
          "items" : {
            "xml" : {
              "name" : "Accounts"
            },
            "$ref" : "#/definitions/AccountSummaryInfoType"
          }
        },
        "accountSummaryInquiryRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountSummaryInquiryRsVersion"
          },
          "default" : "1"
        },
        "mfarsHeader" : {
          "$ref" : "#/definitions/MFARsHeaderType"
        }
      }
    },
    "AccountSyncRqType" : {
      "type" : "object",
      "required" : [ "accountSyncRqVersion", "baseServiceRqVersion", "requestUID" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "header" : {
          "xml" : {
            "name" : "Header"
          },
          "$ref" : "#/definitions/MessageHeaderType"
        },
        "baseServiceRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRqVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "mfaHeader" : {
          "xml" : {
            "name" : "MfaHeader"
          },
          "$ref" : "#/definitions/MFAHeaderType"
        },
        "requestHeader" : {
          "xml" : {
            "name" : "RequestHeader"
          },
          "$ref" : "#/definitions/RSAAARequestHeaderType"
        },
        "id" : {
          "type" : "string",
          "xml" : {
            "name" : "Id"
          }
        },
        "updateSynchronously" : {
          "type" : "boolean",
          "default" : false
        },
        "accountSyncRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountSyncRqVersion"
          },
          "default" : "1"
        }
      }
    },
    "AccountSyncRsType" : {
      "type" : "object",
      "required" : [ "accountSyncRsVersion", "baseServiceRsVersion", "requestUID", "status" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "status" : {
          "xml" : {
            "name" : "Status"
          },
          "$ref" : "#/definitions/MessageStatusInfoType"
        },
        "statusChain" : {
          "type" : "array",
          "xml" : {
            "name" : "StatusChain"
          },
          "items" : {
            "xml" : {
              "name" : "StatusChain"
            },
            "$ref" : "#/definitions/MessageStatusInfoType"
          }
        },
        "baseServiceRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRsVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "authReqId" : {
          "type" : "string",
          "xml" : {
            "name" : "AuthReqId"
          }
        },
        "accountSyncRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountSyncRsVersion"
          },
          "default" : "1"
        },
        "mfarsHeader" : {
          "$ref" : "#/definitions/MFARsHeaderType"
        }
      }
    },
    "AccountUpdatePreferences" : {
      "type" : "object",
      "required" : [ "accountUpdatePreferencesVersion", "id", "nickname" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "xml" : {
            "name" : "Id"
          }
        },
        "nickname" : {
          "type" : "string",
          "xml" : {
            "name" : "Nickname"
          }
        },
        "visible" : {
          "type" : "boolean",
          "xml" : {
            "name" : "Visible"
          }
        },
        "expiryTerm" : {
          "type" : "integer",
          "format" : "int32",
          "xml" : {
            "name" : "ExpiryTerm"
          }
        },
        "accountUpdatePreferencesVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountUpdatePreferencesVersion"
          },
          "default" : "1"
        }
      }
    },
    "AdaptiveEnvInfoType" : {
      "type" : "object",
      "properties" : {
        "flashToken" : {
          "type" : "string"
        },
        "cookie" : {
          "$ref" : "#/definitions/CookieType"
        },
        "ipAddress" : {
          "type" : "string"
        },
        "devicePrint" : {
          "type" : "string"
        },
        "userAgent" : {
          "type" : "string"
        },
        "httpAccept" : {
          "type" : "string"
        },
        "httpAcceptLanguage" : {
          "type" : "string"
        },
        "httpReferer" : {
          "type" : "string"
        },
        "httpAcceptEncoding" : {
          "type" : "string"
        },
        "httpAcceptChars" : {
          "type" : "string"
        }
      }
    },
    "CookieType" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "value" : {
          "type" : "string"
        },
        "domain" : {
          "type" : "string"
        },
        "maxAge" : {
          "type" : "integer",
          "format" : "int32"
        },
        "path" : {
          "type" : "string"
        },
        "secure" : {
          "type" : "boolean"
        },
        "httpOnly" : {
          "type" : "boolean"
        }
      }
    },
    "CorrelationIdentifierType" : {
      "type" : "object",
      "properties" : {
        "value" : {
          "type" : "string",
          "xml" : {
            "name" : "Value"
          }
        },
        "issuer" : {
          "type" : "string",
          "xml" : {
            "name" : "Issuer"
          }
        }
      }
    },
    "CustomerAccountSyncRsType" : {
      "type" : "object",
      "required" : [ "baseServiceRsVersion", "customerAccountSyncRsVersion", "requestUID", "status" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "status" : {
          "xml" : {
            "name" : "Status"
          },
          "$ref" : "#/definitions/MessageStatusInfoType"
        },
        "statusChain" : {
          "type" : "array",
          "xml" : {
            "name" : "StatusChain"
          },
          "items" : {
            "xml" : {
              "name" : "StatusChain"
            },
            "$ref" : "#/definitions/MessageStatusInfoType"
          }
        },
        "baseServiceRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRsVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "authReqId" : {
          "type" : "string",
          "xml" : {
            "name" : "AuthReqId"
          }
        },
        "customerAccountSyncRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "CustomerAccountSyncRsVersion"
          },
          "default" : "1"
        },
        "mfarsHeader" : {
          "$ref" : "#/definitions/MFARsHeaderType"
        }
      }
    },
    "DynamicAttributeType" : {
      "type" : "object",
      "required" : [ "dynamicAttributeVersion", "extendedFieldName", "extendedFieldType", "extendedFieldValue" ],
      "properties" : {
        "extendedFieldName" : {
          "type" : "string",
          "xml" : {
            "name" : "ExtendedFieldName"
          }
        },
        "extendedFieldValue" : {
          "type" : "string",
          "xml" : {
            "name" : "ExtendedFieldValue"
          }
        },
        "extendedFieldType" : {
          "type" : "string",
          "xml" : {
            "name" : "ExtendedFieldType"
          }
        },
        "dynamicAttributeVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "DynamicAttributeVersion"
          },
          "default" : "1"
        }
      }
    },
    "ELRBalances" : {
      "type" : "object",
      "required" : [ "accountIdent", "accountInfoVersion", "currency", "effectiveDate", "fieldDisplayValue", "fieldMsgCode", "fieldName", "fieldValue" ],
      "properties" : {
        "versionStampId" : {
          "type" : "string",
          "xml" : {
            "name" : "VersionStampId"
          }
        },
        "financialInstitution" : {
          "xml" : {
            "name" : "FinancialInstitution"
          },
          "$ref" : "#/definitions/PaymentFinancialInstitutionType"
        },
        "accountIdent" : {
          "xml" : {
            "name" : "AccountIdent"
          },
          "$ref" : "#/definitions/PaymentAccountIdentificationType"
        },
        "accountName" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountName"
          }
        },
        "accountNickName" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountNickName"
          }
        },
        "accountType" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountType"
          }
        },
        "hostProductCode" : {
          "type" : "string",
          "xml" : {
            "name" : "HostProductCode"
          }
        },
        "product" : {
          "type" : "string",
          "xml" : {
            "name" : "Product"
          }
        },
        "productType" : {
          "type" : "string",
          "xml" : {
            "name" : "ProductType"
          }
        },
        "currency" : {
          "type" : "string",
          "xml" : {
            "name" : "Currency"
          }
        },
        "accountInfoVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountInfoVersion"
          },
          "default" : "1"
        },
        "fieldName" : {
          "type" : "string"
        },
        "fieldNameCode" : {
          "type" : "string"
        },
        "fieldValue" : {
          "type" : "string"
        },
        "fieldValueUnformatted" : {
          "type" : "string"
        },
        "effectiveDate" : {
          "type" : "string",
          "format" : "date-time"
        },
        "effectiveDateOnly" : {
          "type" : "string",
          "format" : "date-time"
        },
        "fieldDataType" : {
          "type" : "integer",
          "format" : "int32"
        },
        "fieldMsgCode" : {
          "type" : "string"
        },
        "fieldDisplayValue" : {
          "type" : "string"
        },
        "displaySequence" : {
          "type" : "integer",
          "format" : "int32"
        },
        "displayDate" : {
          "type" : "boolean",
          "default" : false
        },
        "checkImageEnabled" : {
          "type" : "boolean",
          "default" : false
        },
        "elrbalancesVersion" : {
          "type" : "string"
        }
      }
    },
    "GenericAddressType" : {
      "type" : "object",
      "required" : [ "genericAddressVersion", "genericLocationVersion" ],
      "properties" : {
        "city" : {
          "type" : "string",
          "xml" : {
            "name" : "City"
          }
        },
        "stateProvince" : {
          "xml" : {
            "name" : "StateProvince"
          },
          "$ref" : "#/definitions/StateCodeAndNameType"
        },
        "countyDistrict" : {
          "type" : "string",
          "xml" : {
            "name" : "CountyDistrict"
          }
        },
        "postalCode" : {
          "type" : "string",
          "xml" : {
            "name" : "PostalCode"
          }
        },
        "countryCode" : {
          "type" : "string",
          "xml" : {
            "name" : "CountryCode"
          }
        },
        "genericLocationVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "GenericLocationVersion"
          },
          "default" : "1"
        },
        "addressLine" : {
          "type" : "array",
          "xml" : {
            "name" : "AddressLine"
          },
          "items" : {
            "type" : "string",
            "xml" : {
              "name" : "AddressLine"
            }
          }
        },
        "streetName" : {
          "type" : "string",
          "xml" : {
            "name" : "StreetName"
          }
        },
        "addressType" : {
          "type" : "string",
          "xml" : {
            "name" : "AddressType"
          }
        },
        "genericAddressVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "GenericAddressVersion"
          },
          "default" : "2"
        },
        "postOfficeBox" : {
          "type" : "string",
          "xml" : {
            "name" : "PostOfficeBox"
          }
        }
      }
    },
    "LinksType" : {
      "type" : "object",
      "required" : [ "href", "method", "rel" ],
      "properties" : {
        "href" : {
          "type" : "string",
          "xml" : {
            "name" : "Href"
          }
        },
        "rel" : {
          "type" : "string",
          "xml" : {
            "name" : "Rel"
          }
        },
        "method" : {
          "type" : "string",
          "xml" : {
            "name" : "Method"
          }
        }
      }
    },
    "LoanNote" : {
      "type" : "object",
      "required" : [ "ident", "note" ],
      "properties" : {
        "ident" : {
          "type" : "string",
          "xml" : {
            "name" : "Ident"
          }
        },
        "note" : {
          "type" : "string",
          "xml" : {
            "name" : "Note"
          }
        }
      }
    },
    "MFAHeaderType" : {
      "type" : "object",
      "required" : [ "authenticationType" ],
      "properties" : {
        "authenticationType" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "passcode" : {
          "type" : "string"
        },
        "oldPin" : {
          "type" : "string"
        },
        "newPin" : {
          "type" : "string"
        },
        "confirmNewPin" : {
          "type" : "string"
        },
        "activationCode" : {
          "type" : "string"
        },
        "tokenNumber" : {
          "type" : "string"
        },
        "state" : {
          "type" : "integer",
          "format" : "int32"
        },
        "mobileNumb" : {
          "type" : "string"
        },
        "primaryNumb" : {
          "type" : "string"
        },
        "secNumb" : {
          "type" : "string"
        },
        "oobaChannel" : {
          "type" : "string"
        },
        "emailAdd" : {
          "type" : "string"
        },
        "signingCount" : {
          "type" : "integer",
          "format" : "int32"
        },
        "mfaheaderVersion" : {
          "type" : "string"
        }
      }
    },
    "MFARsHeaderType" : {
      "type" : "object",
      "required" : [ "authenticationType", "challenge", "providerId" ],
      "properties" : {
        "state" : {
          "type" : "integer",
          "format" : "int32"
        },
        "signingCount" : {
          "type" : "integer",
          "format" : "int32"
        },
        "additionalAttributes" : {
          "type" : "array",
          "xml" : {
            "name" : "AdditionalAttributes"
          },
          "items" : {
            "xml" : {
              "name" : "AdditionalAttributes"
            },
            "$ref" : "#/definitions/DynamicAttributeType"
          }
        },
        "providerId" : {
          "type" : "string",
          "default" : "UNKNOWN"
        },
        "challenge" : {
          "type" : "string",
          "default" : "UNKNOWN"
        },
        "authenticationType" : {
          "type" : "string",
          "default" : "UNKNOWN"
        },
        "mfarsHeaderVersion" : {
          "type" : "string"
        }
      }
    },
    "MessageHeaderType" : {
      "type" : "object",
      "required" : [ "messageHeaderVersion" ],
      "properties" : {
        "initiatingSystem" : {
          "type" : "string",
          "xml" : {
            "name" : "InitiatingSystem"
          }
        },
        "destinationSystem" : {
          "type" : "string",
          "xml" : {
            "name" : "DestinationSystem"
          }
        },
        "correlationIdent" : {
          "xml" : {
            "name" : "CorrelationIdent"
          },
          "$ref" : "#/definitions/CorrelationIdentifierType"
        },
        "additionalAttributes" : {
          "type" : "array",
          "xml" : {
            "name" : "AdditionalAttributes"
          },
          "items" : {
            "xml" : {
              "name" : "AdditionalAttributes"
            },
            "$ref" : "#/definitions/DynamicAttributeType"
          }
        },
        "messageHeaderVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "MessageHeaderVersion"
          },
          "default" : "2"
        },
        "tenantIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TenantIdent"
          }
        }
      }
    },
    "MessageStatusInfoType" : {
      "type" : "object",
      "required" : [ "code", "messageStatusInfoVersion" ],
      "properties" : {
        "code" : {
          "type" : "string",
          "xml" : {
            "name" : "Code"
          }
        },
        "severity" : {
          "type" : "string",
          "xml" : {
            "name" : "Severity"
          },
          "enum" : [ "ERROR", "INFO", "WARNING" ]
        },
        "details" : {
          "type" : "string",
          "xml" : {
            "name" : "Details"
          }
        },
        "statusDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "StatusDate"
          }
        },
        "messageStatusInfoVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "MessageStatusInfoVersion"
          },
          "default" : "2"
        },
        "additionalAttributes" : {
          "type" : "array",
          "xml" : {
            "name" : "AdditionalAttributes"
          },
          "items" : {
            "xml" : {
              "name" : "AdditionalAttributes"
            },
            "$ref" : "#/definitions/DynamicAttributeType"
          }
        }
      }
    },
    "PaymentAccountIdentificationType" : {
      "type" : "object",
      "required" : [ "paymentAccountIdentificationVersion", "primaryIdent" ],
      "properties" : {
        "accountUid" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountUid"
          }
        },
        "primaryIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "PrimaryIdent"
          }
        },
        "maskedAccountId" : {
          "type" : "string",
          "xml" : {
            "name" : "MaskedAccountId"
          }
        },
        "otherIdents" : {
          "type" : "array",
          "xml" : {
            "name" : "OtherIdents"
          },
          "items" : {
            "xml" : {
              "name" : "OtherIdents"
            },
            "$ref" : "#/definitions/AccountOtherIdentificationType"
          }
        },
        "paymentAccountIdentificationVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "PaymentAccountIdentificationVersion"
          },
          "default" : "1"
        }
      }
    },
    "PaymentFinancialInstitutionType" : {
      "type" : "object",
      "required" : [ "ident", "paymentFinancialInstitutionVersion" ],
      "properties" : {
        "ident" : {
          "type" : "string",
          "xml" : {
            "name" : "Ident"
          }
        },
        "identType" : {
          "type" : "string",
          "xml" : {
            "name" : "IdentType"
          }
        },
        "name" : {
          "type" : "string",
          "xml" : {
            "name" : "Name"
          }
        },
        "address" : {
          "xml" : {
            "name" : "Address"
          },
          "$ref" : "#/definitions/GenericAddressType"
        },
        "bankOption" : {
          "type" : "string",
          "xml" : {
            "name" : "BankOption"
          }
        },
        "standardBank" : {
          "type" : "boolean",
          "xml" : {
            "name" : "StandardBank"
          },
          "default" : true
        },
        "paymentFinancialInstitutionVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "PaymentFinancialInstitutionVersion"
          },
          "default" : "1"
        }
      }
    },
    "PhoneSetValueType" : {
      "type" : "object",
      "properties" : {
        "phoneType" : {
          "type" : "string"
        },
        "countryCode" : {
          "type" : "string"
        },
        "areaCode" : {
          "type" : "string"
        },
        "phoneNumber" : {
          "type" : "string"
        }
      }
    },
    "QuestionAnswerValueType" : {
      "type" : "object",
      "properties" : {
        "questionValue" : {
          "$ref" : "#/definitions/QuestionValueType"
        },
        "answer" : {
          "type" : "string"
        }
      }
    },
    "QuestionValueType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "text" : {
          "type" : "string"
        },
        "group" : {
          "type" : "string"
        }
      }
    },
    "RSAAARequestHeaderType" : {
      "type" : "object",
      "properties" : {
        "userName" : {
          "type" : "string"
        },
        "groupName" : {
          "type" : "string"
        },
        "organizationName" : {
          "type" : "string"
        },
        "language" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "sessionID" : {
          "type" : "string"
        },
        "clientSessionID" : {
          "type" : "string"
        },
        "transactionString" : {
          "type" : "string"
        },
        "userStatus" : {
          "type" : "string"
        },
        "actionCode" : {
          "type" : "string"
        },
        "answerFailCount" : {
          "type" : "integer",
          "format" : "int32"
        },
        "riskScore" : {
          "type" : "integer",
          "format" : "int32"
        },
        "oobaToken" : {
          "type" : "string"
        },
        "challengeType" : {
          "type" : "string"
        },
        "policy" : {
          "type" : "string"
        },
        "credentialListFromRSA" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "aaEnvInfo" : {
          "$ref" : "#/definitions/AdaptiveEnvInfoType"
        },
        "questionAnswerValue" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/QuestionAnswerValueType"
          }
        },
        "phoneSetValue" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PhoneSetValueType"
          }
        }
      }
    },
    "RefreshDataAccountInfoType" : {
      "type" : "object",
      "required" : [ "accountSummaryInfoVersion", "currency", "id", "product" ],
      "properties" : {
        "versionStampId" : {
          "type" : "string",
          "xml" : {
            "name" : "VersionStampId"
          }
        },
        "id" : {
          "type" : "string",
          "xml" : {
            "name" : "Id"
          }
        },
        "number" : {
          "type" : "string",
          "xml" : {
            "name" : "Number"
          }
        },
        "accountType" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountType"
          }
        },
        "accountSubType" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountSubType"
          }
        },
        "product" : {
          "type" : "string",
          "xml" : {
            "name" : "Product"
          }
        },
        "nickname" : {
          "type" : "string",
          "xml" : {
            "name" : "Nickname"
          }
        },
        "currency" : {
          "type" : "string",
          "xml" : {
            "name" : "Currency"
          }
        },
        "balanceUpdateStatus" : {
          "type" : "string",
          "xml" : {
            "name" : "BalanceUpdateStatus"
          }
        },
        "transactionUpdateStatus" : {
          "type" : "string",
          "xml" : {
            "name" : "TransactionUpdateStatus"
          }
        },
        "balanceLastUpdate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "BalanceLastUpdate"
          }
        },
        "transactionLastUpdate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "TransactionLastUpdate"
          }
        },
        "balanceAmount" : {
          "type" : "number",
          "xml" : {
            "name" : "BalanceAmount"
          }
        },
        "balanceAsOn" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "BalanceAsOn"
          }
        },
        "bankId" : {
          "type" : "string",
          "xml" : {
            "name" : "BankId"
          }
        },
        "fiId" : {
          "type" : "string",
          "xml" : {
            "name" : "FiId"
          }
        },
        "assetLiability" : {
          "type" : "string",
          "xml" : {
            "name" : "AssetLiability"
          }
        },
        "accountSummaryInfoVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "AccountSummaryInfoVersion"
          },
          "default" : "1"
        }
      }
    },
    "RefreshDataAccountSummaryInquiryRqType" : {
      "type" : "object",
      "required" : [ "baseServiceRqVersion", "refreshDataAccountSummaryInquiryRqVersion", "requestUID" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "header" : {
          "xml" : {
            "name" : "Header"
          },
          "$ref" : "#/definitions/MessageHeaderType"
        },
        "baseServiceRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRqVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "mfaHeader" : {
          "xml" : {
            "name" : "MfaHeader"
          },
          "$ref" : "#/definitions/MFAHeaderType"
        },
        "requestHeader" : {
          "xml" : {
            "name" : "RequestHeader"
          },
          "$ref" : "#/definitions/RSAAARequestHeaderType"
        },
        "offset" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Offset"
          },
          "default" : 0
        },
        "limit" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Limit"
          },
          "default" : 0
        },
        "sort" : {
          "type" : "string",
          "xml" : {
            "name" : "Sort"
          }
        },
        "sortOrder" : {
          "type" : "string",
          "xml" : {
            "name" : "SortOrder"
          }
        },
        "refreshDataAccountSummaryInquiryRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "RefreshDataAccountSummaryInquiryRqVersion"
          },
          "default" : "1"
        }
      }
    },
    "RefreshDataAccountSummaryInquiryRsType" : {
      "type" : "object",
      "required" : [ "baseServiceRsVersion", "refreshDataAccountSummaryInquiryRsVersion", "requestUID", "status" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "status" : {
          "xml" : {
            "name" : "Status"
          },
          "$ref" : "#/definitions/MessageStatusInfoType"
        },
        "statusChain" : {
          "type" : "array",
          "xml" : {
            "name" : "StatusChain"
          },
          "items" : {
            "xml" : {
              "name" : "StatusChain"
            },
            "$ref" : "#/definitions/MessageStatusInfoType"
          }
        },
        "baseServiceRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRsVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "authReqId" : {
          "type" : "string",
          "xml" : {
            "name" : "AuthReqId"
          }
        },
        "maxRows" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "MaxRows"
          },
          "default" : 0
        },
        "next" : {
          "type" : "string",
          "xml" : {
            "name" : "Next"
          }
        },
        "previous" : {
          "type" : "string",
          "xml" : {
            "name" : "Previous"
          }
        },
        "accounts" : {
          "type" : "array",
          "xml" : {
            "name" : "Accounts"
          },
          "items" : {
            "xml" : {
              "name" : "Accounts"
            },
            "$ref" : "#/definitions/RefreshDataAccountInfoType"
          }
        },
        "refreshDataAccountSummaryInquiryRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "RefreshDataAccountSummaryInquiryRsVersion"
          },
          "default" : "1"
        },
        "mfarsHeader" : {
          "$ref" : "#/definitions/MFARsHeaderType"
        }
      }
    },
    "RefreshDataRealTimeStatusInquiryRqType" : {
      "type" : "object",
      "required" : [ "baseServiceRqVersion", "refreshDataRealTimeStatusInquiryRqVersion", "requestUID" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "header" : {
          "xml" : {
            "name" : "Header"
          },
          "$ref" : "#/definitions/MessageHeaderType"
        },
        "baseServiceRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRqVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "mfaHeader" : {
          "xml" : {
            "name" : "MfaHeader"
          },
          "$ref" : "#/definitions/MFAHeaderType"
        },
        "requestHeader" : {
          "xml" : {
            "name" : "RequestHeader"
          },
          "$ref" : "#/definitions/RSAAARequestHeaderType"
        },
        "offset" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Offset"
          },
          "default" : 0
        },
        "limit" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Limit"
          },
          "default" : 0
        },
        "sort" : {
          "type" : "string",
          "xml" : {
            "name" : "Sort"
          }
        },
        "sortOrder" : {
          "type" : "string",
          "xml" : {
            "name" : "SortOrder"
          }
        },
        "balancesAccounts" : {
          "type" : "array",
          "xml" : {
            "name" : "BalancesAccounts"
          },
          "items" : {
            "type" : "string",
            "xml" : {
              "name" : "BalancesAccounts"
            }
          }
        },
        "allAccountsBalanceStatus" : {
          "type" : "boolean",
          "xml" : {
            "name" : "AllAccountsBalanceStatus"
          },
          "default" : false
        },
        "transactionsAccounts" : {
          "type" : "array",
          "xml" : {
            "name" : "TransactionsAccounts"
          },
          "items" : {
            "type" : "string",
            "xml" : {
              "name" : "TransactionsAccounts"
            }
          }
        },
        "allAccountsTransactionStatus" : {
          "type" : "boolean",
          "xml" : {
            "name" : "AllAccountsTransactionStatus"
          },
          "default" : false
        },
        "refreshDataRealTimeStatusInquiryRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "RefreshDataRealTimeStatusInquiryRqVersion"
          },
          "default" : "1"
        }
      }
    },
    "RefreshDataRealTimeStatusInquiryRsType" : {
      "type" : "object",
      "required" : [ "baseServiceRsVersion", "refreshDataRealTimeStatusInquiryRsVersion", "requestUID", "status", "updateStatus" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "status" : {
          "xml" : {
            "name" : "Status"
          },
          "$ref" : "#/definitions/MessageStatusInfoType"
        },
        "statusChain" : {
          "type" : "array",
          "xml" : {
            "name" : "StatusChain"
          },
          "items" : {
            "xml" : {
              "name" : "StatusChain"
            },
            "$ref" : "#/definitions/MessageStatusInfoType"
          }
        },
        "baseServiceRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRsVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "authReqId" : {
          "type" : "string",
          "xml" : {
            "name" : "AuthReqId"
          }
        },
        "maxRows" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "MaxRows"
          },
          "default" : 0
        },
        "next" : {
          "type" : "string",
          "xml" : {
            "name" : "Next"
          }
        },
        "previous" : {
          "type" : "string",
          "xml" : {
            "name" : "Previous"
          }
        },
        "updateStatus" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/RefreshDataAccountInfoType"
          }
        },
        "refreshDataRealTimeStatusInquiryRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "RefreshDataRealTimeStatusInquiryRsVersion"
          },
          "default" : "1"
        },
        "mfarsHeader" : {
          "$ref" : "#/definitions/MFARsHeaderType"
        }
      }
    },
    "RefreshDataRealTimeUpdateBalanceRqType" : {
      "type" : "object",
      "required" : [ "baseServiceRqVersion", "refreshDataRealTimeUpdateBalanceRqVersion", "requestUID" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "header" : {
          "xml" : {
            "name" : "Header"
          },
          "$ref" : "#/definitions/MessageHeaderType"
        },
        "baseServiceRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRqVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "mfaHeader" : {
          "xml" : {
            "name" : "MfaHeader"
          },
          "$ref" : "#/definitions/MFAHeaderType"
        },
        "requestHeader" : {
          "xml" : {
            "name" : "RequestHeader"
          },
          "$ref" : "#/definitions/RSAAARequestHeaderType"
        },
        "offset" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Offset"
          },
          "default" : 0
        },
        "limit" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Limit"
          },
          "default" : 0
        },
        "sort" : {
          "type" : "string",
          "xml" : {
            "name" : "Sort"
          }
        },
        "sortOrder" : {
          "type" : "string",
          "xml" : {
            "name" : "SortOrder"
          }
        },
        "accounts" : {
          "type" : "array",
          "xml" : {
            "name" : "Accounts"
          },
          "items" : {
            "type" : "string",
            "xml" : {
              "name" : "Accounts"
            }
          }
        },
        "updateAllAccounts" : {
          "type" : "boolean",
          "xml" : {
            "name" : "UpdateAllAccounts"
          },
          "default" : false
        },
        "refreshDataRealTimeUpdateBalanceRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "RefreshDataRealTimeUpdateBalanceRqVersion"
          },
          "default" : "1"
        }
      }
    },
    "RefreshDataRealTimeUpdateBalanceRsType" : {
      "type" : "object",
      "required" : [ "baseServiceRsVersion", "refreshDataRealTimeUpdateBalanceRs", "requestUID", "status" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "status" : {
          "xml" : {
            "name" : "Status"
          },
          "$ref" : "#/definitions/MessageStatusInfoType"
        },
        "statusChain" : {
          "type" : "array",
          "xml" : {
            "name" : "StatusChain"
          },
          "items" : {
            "xml" : {
              "name" : "StatusChain"
            },
            "$ref" : "#/definitions/MessageStatusInfoType"
          }
        },
        "baseServiceRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRsVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "authReqId" : {
          "type" : "string",
          "xml" : {
            "name" : "AuthReqId"
          }
        },
        "refreshDataRealTimeUpdateBalanceRs" : {
          "type" : "string",
          "xml" : {
            "name" : "RefreshDataRealTimeUpdateBalanceRs"
          },
          "default" : "1"
        },
        "mfarsHeader" : {
          "$ref" : "#/definitions/MFARsHeaderType"
        }
      }
    },
    "RefreshDataRealTimeUpdateTransactionsRqType" : {
      "type" : "object",
      "required" : [ "baseServiceRqVersion", "refreshDataRealTimeUpdateTransactionsRqVersion", "requestUID" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "header" : {
          "xml" : {
            "name" : "Header"
          },
          "$ref" : "#/definitions/MessageHeaderType"
        },
        "baseServiceRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRqVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "mfaHeader" : {
          "xml" : {
            "name" : "MfaHeader"
          },
          "$ref" : "#/definitions/MFAHeaderType"
        },
        "requestHeader" : {
          "xml" : {
            "name" : "RequestHeader"
          },
          "$ref" : "#/definitions/RSAAARequestHeaderType"
        },
        "offset" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Offset"
          },
          "default" : 0
        },
        "limit" : {
          "type" : "integer",
          "format" : "int64",
          "xml" : {
            "name" : "Limit"
          },
          "default" : 0
        },
        "sort" : {
          "type" : "string",
          "xml" : {
            "name" : "Sort"
          }
        },
        "sortOrder" : {
          "type" : "string",
          "xml" : {
            "name" : "SortOrder"
          }
        },
        "transactionAccountsList" : {
          "type" : "array",
          "xml" : {
            "name" : "TransactionAccountsList"
          },
          "items" : {
            "type" : "string",
            "xml" : {
              "name" : "TransactionAccountsList"
            }
          }
        },
        "updateAllAccounts" : {
          "type" : "boolean",
          "xml" : {
            "name" : "UpdateAllAccounts"
          },
          "default" : false
        },
        "refreshDataRealTimeUpdateTransactionsRqVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "RefreshDataRealTimeUpdateTransactionsRqVersion"
          },
          "default" : "1"
        }
      }
    },
    "RefreshDataRealTimeUpdateTransactionsRsType" : {
      "type" : "object",
      "required" : [ "baseServiceRsVersion", "refreshDataRealTimeUpdateTransactionsRs", "requestUID", "status" ],
      "properties" : {
        "requestUID" : {
          "type" : "string",
          "xml" : {
            "name" : "RequestUID"
          },
          "default" : "DummyRequestIDValue"
        },
        "createdDate" : {
          "type" : "string",
          "format" : "date-time",
          "xml" : {
            "name" : "CreatedDate"
          }
        },
        "status" : {
          "xml" : {
            "name" : "Status"
          },
          "$ref" : "#/definitions/MessageStatusInfoType"
        },
        "statusChain" : {
          "type" : "array",
          "xml" : {
            "name" : "StatusChain"
          },
          "items" : {
            "xml" : {
              "name" : "StatusChain"
            },
            "$ref" : "#/definitions/MessageStatusInfoType"
          }
        },
        "baseServiceRsVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "BaseServiceRsVersion"
          },
          "default" : "5"
        },
        "securityContext" : {
          "type" : "array",
          "xml" : {
            "name" : "SecurityContext"
          },
          "items" : {
            "xml" : {
              "name" : "SecurityContext"
            },
            "$ref" : "#/definitions/SecurityContextType"
          }
        },
        "traceIdent" : {
          "type" : "string",
          "xml" : {
            "name" : "TraceIdent"
          }
        },
        "authReqId" : {
          "type" : "string",
          "xml" : {
            "name" : "AuthReqId"
          }
        },
        "refreshDataRealTimeUpdateTransactionsRs" : {
          "type" : "string",
          "xml" : {
            "name" : "RefreshDataRealTimeUpdateTransactionsRs"
          },
          "default" : "1"
        },
        "mfarsHeader" : {
          "$ref" : "#/definitions/MFARsHeaderType"
        }
      }
    },
    "SecurityContextType" : {
      "type" : "object",
      "required" : [ "format", "value" ],
      "properties" : {
        "format" : {
          "type" : "string",
          "xml" : {
            "name" : "Format"
          }
        },
        "value" : {
          "type" : "string",
          "xml" : {
            "name" : "Value"
          }
        }
      }
    },
    "StateCodeAndNameType" : {
      "type" : "object",
      "required" : [ "stateCodeAndNameVersion" ],
      "properties" : {
        "code" : {
          "type" : "string",
          "xml" : {
            "name" : "Code"
          }
        },
        "name" : {
          "type" : "string",
          "xml" : {
            "name" : "Name"
          }
        },
        "stateCodeAndNameVersion" : {
          "type" : "string",
          "xml" : {
            "name" : "StateCodeAndNameVersion"
          },
          "default" : "1"
        }
      }
    }
  }
}
